<div class="container">
  <h1>URL Shortener</h1>
  <img src="{{image.src}}" alt="link icon" />
  <form action="/" method="POST" class="form">
    <input
      type="text"
      id="url"
      name="url"
      placeholder="Input URL here"
      required
    />
    <button class="btn">Shorten</button>
  </form>
</div>